<h1>All of Your Registrations:</h1>

  <ul>
  <% index = 0 %>
  <% @regs.each do |reg| %>
      <strong><%= "#{index+1})" %> Game: <%=reg.game.title %><br></strong>
      Game Start: <%= reg.game.datetime_of_start %><br>
      Location: <%= reg.game.location %><br>
      Timezone: <%= reg.game.timezone %><br>
      Status: <%= reg.game.match_status %><br>
      <%= link_to "Registration Page", reg_path(reg.id) %>
  <% end %>
  </ul>
