<h1> Register for an Event! </h1>

<%= render partial: "layouts/errors", locals: { object: @reg } %>

<%= form_for @reg do |f| %>

  <%= f.label :contest_id %>
  <% f.collection_select(:contest_id, @contests, :id, :title, :stakes, :status) %>
  
  <br></br>

  <%= f.label :game_id %>
  <%= f.collection_select :game_id, @games, :id, :datetime_of_start, :location  %>

  <%= f.submit%>

<% end %>
