<h1> Question Page! </h1>

<h1> Game: <%= @reg.game.title %> </h1>
<h1> People Remaining: <%= @players_rem %> </h1>
<h1> Questions Below: (You have two minutes to answer for this inning!)</h1>

<h1 style="color:blue;"> Current Time: <div id="clockbox"></div> </h1>
      <script type="text/javascript">
      var tday=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
      var tmonth=["January","February","March","April","May","June","July","August","September","October","November","December"];

      function GetClock(){
      var d=new Date();
      var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
      var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds();
      if(nmin<=9) nmin="0"+nmin;
      if(nsec<=9) nsec="0"+nsec;

      var clocktext=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+"";
      document.getElementById('clockbox').innerHTML=clocktext;
      }

      GetClock();
      setInterval(GetClock,1000);
      </script>

<h1 style="color:red;">Answer before time runs out: <span id="time">02:00</span>!</h1>

<% @questions.each do |q| %>
  <% @quest = q %>
  <% if q.datetime_qstart > Time.now.utc%>
    <h2> <%= q.q_num %>) <%= q.content %></h2>
    <h3> Question Starts at: <%= q.datetime_qstart %></h3>
    <h3> Submit Answer by: <%= q.datetime_required %></h3>
    <%= render 'form' %>
  <% end %>
<% end %>


<script>
function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            document.getElementById("time").innerHTML = "Time Ran Out! You lost!";
            document.getElementById("radios_and_submit").style.visibility = "hidden";
            document.getElementById("nav_to_lost").style.visibility = "visible";
        }
    }, 1000);
}

window.onload = function () {
    var twoMinutes = 60 * 2,
        display = document.querySelector('#time');
    startTimer(twoMinutes, display);
};
</script>
