<!DOCTYPE html>
<html>
  <head>
    <title>  </title>

  </head>

  <body>

    <% if logged_in? %>
      <nav class='navbar'>
        <%= link_to 'Homepage', root_path, class:'button'%>
        <%= link_to 'Available Games', games_path, class:'button'%>
        <%= link_to 'Register Now', new_reg_path, class:'button'%>
        <%= link_to 'Your Stats', user_path(current_user.id), class:'button'%>
        <%= link_to 'Logout', '/logout', method: :delete, class:'button'%>
      </nav>
    <% else %>
      <!-- <%= link_to sessions_path %> -->
    <% end %>

    <div class='container'>

    <%= yield %>

    </div>
  </body>
</html>
