<h2> Register for an event now! Registration Cuts off When Game Starts! </h2>
<h2> Available Upcoming Games: </h2>

<% if @games.empty? %>

    <h3 style="color:red"> There are no upcoming games/registrations! </h3>

<% else %>

    <% @games.each_with_index do |game, index| %>
        <%= form_for :reg do %>
          <h3> <%=index + 1%>) Game: <%= game.title %></h3>
          <h3>&nbsp;&nbsp;&nbsp; Registration Deadline: <%= game.datetime_of_start %></h3>
          <h3>&nbsp;&nbsp;&nbsp; Location: <%= game.location %> </h3>
          <h3>&nbsp;&nbsp;&nbsp; Timezone: <%= game.timezone %> </h3>
          <h3>&nbsp;&nbsp;&nbsp; Status: <%= game.match_status %> </h3>
          <%= hidden_field_tag(Time.now.UTC, params["datetime_registered"]) %>
          <%= hidden_field_tag(game.id, params["game_id"]) %>
          <%= hidden_field_tag(current_user.id, params["user_id"]) %>
        <%= submit_tag "Register Now"%>
        <% end %>

    <% end %>

<% end %>
