<h1>All the Shoes:</h1>

<% @shoes.each_with_index do |shoe, index| %>

  <h2> <%=index + 1%>)<%= link_to shoe.model, shoe_path(shoe.id)%>, Brand: <%= shoe.brand.name %> </h2>

  <div>
    <p>Description: <%= shoe.description %></p>
  </div>

  <%= link_to "Write a review", new_shoe_review_path(shoe.id, :shoe_id)%>

<% end %>
