<h1>Shoe Model: <%= @shoe.model %>  </h1>

<div>
  <h3>Shoe Brand: <%= @shoe.brand_name %> </h3>
  <h3>Description: <%= @shoe.description %></h3>
</div>

<h3>Added by: <%= link_to @shoe.user.username, user_path(@user)%> </h3>

Other Actions:
<%= link_to "Edit #{@shoe.model}", edit_shoe_path(@shoe) if @shoe.user == current_user%> |
<%= link_to "See all Reviews", shoe_reviews_path(@shoe) %>
