<%= link_to "Log Out", logout_path, method: :delete %> |
<%= link_to "Add a Shoe", new_shoe_path %> |
<%= link_to "All Shoes", shoes_path %> |
<%= link_to "Add a Review", new_review_path %> |
<%= link_to "All Reviews", reviews_path %> |
<%= link_to "All Brands", brands_path %> |
<%= link_to "Home", user_path(current_user)%>

<br>
<h1> Your Source for all things Shoes! </h1>
<h1> Share your thoughts! </h1>
<h1> Durability? Comfortability? Expensive? Materials? Style? Worth it? </h1>
<br>




<style>

</style>
